In [3]:
!pip3 install pandas
!pip3 install matplotlib

/bin/bash: line 1: /home/maadi/Desktop/my_tasks/python/models_and_datasets/venv/bin/pip3: cannot execute: required file not found

/bin/bash: line 1: /home/maadi/Desktop/my_tasks/python/models_and_datasets/venv/bin/pip3: cannot execute: required file not found

In [4]:
#import pandas as pd

#games = pd.read_csv("DataSets/vgsalesGlobale.csv")

# games.head()
# games.dtypes
# games.Genre.describe()
# games.Genre.value_counts()
# games.Genre.value_counts(normalize=True)

In [12]:
import pandas as pd

df = pd.read_csv("DataSets/vgsalesGlobale.csv")

# df.head()
# df.dtypes
# duplicate_entries = df[df.duplicated()]
df = df.dropna()

df = df.drop(["Name", "Platform", "Genre", "Publisher"], axis=1)

# df.dtypes
df.corr()
# df.head()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,1.000000,0.178027,-0.400315,-0.379137,-0.269323,-0.332735,-0.426975
Year,0.178027,1.000000,-0.091285,0.006108,-0.169387,0.041128,-0.074647
NA_Sales,-0.400315,-0.091285,1.000000,0.768923,0.451283,0.634518,0.941269
EU_Sales,-0.379137,0.006108,0.768923,1.000000,0.436379,0.726256,0.903264
JP_Sales,-0.269323,-0.169387,0.451283,0.436379,1.000000,0.290559,0.612774
Other_Sales,-0.332735,0.041128,0.634518,0.726256,0.290559,1.000000,0.747964
Global_Sales,-0.426975,-0.074647,0.941269,0.903264,0.612774,0.747964,1.000000